.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.cart{
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}

.cartAmount{
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

i {
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}


.bi-x-square {
    color: red;
    font-weight: bold;
}


.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 520px);
    justify-content: center;
    gap: 20px;
}

.cart-item {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
}

.title-price-x {
    width: 305px;
    display: flex;
    justify-content: space-between;
}

.title-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-price {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
}

.buttons {
    display: flex;
    gap: 8px;
}

.bi-dash-lg {
    color: red;
}

.bi-plus-lg {
    color: green;
}


.fade_rule {
    height: 1px;
    background-color: #E6E6E6;
    width: 66.0em;
    margin: 0 auto;
    background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) );
}
